li {
  width: 50%;
  text-align: start;
  margin-bottom: 10px;
}

.details-description-list {
  margin-top: 10px;

  li {
    list-style-type: disc;
  }
}

.details-description a {
  color: #ff6a3a;
  margin-bottom: 20px;

  &:hover {
    color: #ff0000;
  }
}

.no-nest-list {
  margin-top: 30px;
  margin-bottom: 30px;

  li {
    width: 75%;
    list-style-type: disc;
    margin-bottom: 20px;
  }

  h4,
  p {
    margin-bottom: 10px;
  }
}

.nested-list li {
  list-style-type: circle;
}
