/******************************************
STYLES FOR CONTENTS GENERATED DYNAMICALLY
******************************************/
.details-description-list li,
.sos-cards-list li {
  text-align: start;
  list-style-type: disc;
}

.details-description-list {
  margin-top: 10px;

  li {
    width: 50%;
    margin-bottom: 10px;
  }
}

.details-description a {
  color: #ff6a3a;
  margin-bottom: 20px;

  &:hover {
    color: #ff0000;
  }
}

.sos-cards-list {
  margin-top: 30px;
  margin-bottom: 30px;

  li {
    width: 75%;
    margin-bottom: 20px;
  }

  h4,
  p {
    margin-bottom: 10px;
  }
}

.nested-list li {
  list-style-type: circle;
}
