/************
GLOBAL FONT
************/
@font-face {
  font-family: "Montserrat";
  src: url(../../fonts/montserrat/static/Montserrat-Medium.ttf)
    format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

html {
  font-optical-sizing: auto;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.753);
  font-family: "Montserrat", sans-serif;
}

/************************
STYLES FOR VARIOUS TAGS
************************/
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

button,
a {
  cursor: pointer;
}

a:active,
a:visited {
  color: black;
}

/*******************************
BACKGROUND FOR ZOOMED CONTENTS
*******************************/
.zoomed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/********
OVERLAY
********/
.overlay {
  padding-top: 20px;
  padding-bottom: 25px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

/****************
SCROLLBAR STYLE
****************/
.scrollbar-container {
  overflow: auto;
}

/****************************
STYLE TO CANCEL EVERY CLICK
****************************/
.no-interaction {
  pointer-events: none;
}
