html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #000000;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

button,
a {
  cursor: pointer;
}

a:active,
a:visited {
  color: black;
}

.overlay {
  padding-top: 20px;
  padding-bottom: 25px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.753);
  background-color: rgba(0, 0, 0, 0.8);
}

.scrollbar-container {
  overflow: auto;
}
