html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  background-color: #000000;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

button,
a {
  cursor: pointer;
}

a:active,
a:visited {
  color: black;
}

.zoomed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.overlay {
  padding-top: 20px;
  padding-bottom: 25px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.753);
  background-color: rgba(0, 0, 0, 0.8);
}

.scrollbar-container {
  overflow: auto;
}

.no-interaction {
  pointer-events: none;
}
