/**************
GENERAL RESET
**************/
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease-in-out;
}

/**********************************
SCROLLBAR RESET FOR WEBKIT ENGINE
**********************************/
*::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #ff6b3ade;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.8);
}

*::-webkit-scrollbar-corner {
  display: none;
}

*::-webkit-scrollbar {
  width: 4px;
}

/********
V_CLOAK
********/
[v-cloak] {
  display: none;
}
